@import url("_variables.css");

#container {
    width: 1460px;
    margin: 30px auto;
}

.feed {
    width: 22.5%;
    height: 360px;
    margin: 15px 1.25%;
    background-color: var(--sub-color-1);
    float: left;
    color: #fff;
}

.feed>img {
    width: 100%;
    height: 45%;
}

.feed_text_wrap {
    width: 100%;
    height: 45%;
    padding: 14px;

}

.feed_title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.feed_descript {
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.feed_user {
    position: relative;
    width: 100%;
    height: 10%;
    border-top: 1px solid #999;
    padding: 0 14px;
}

.feed_user_id {
    font-size: 15px;
    padding-top: 4px;
}

.feed_created {
    position: absolute;
    right: 14px;
    top: 6px;
    color: #969696;
    font-size: 12px;
}