@import url("_variables.css");

header {
    height: 66px;
    border-bottom: 1px solid #fff;
}

.header_wrap {
    width: 1024px;
    margin: auto;
}

h1 {
    color: var(--point-color);
    font-weight: 600;
    font-size: 26px;
    padding: 16px 0 0 32px;
}