<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="contain" style="text-align: center">

    <h1>Title</h1>
    <br/>

    <h4 >Click this icons<br>to go to My SNS Pages</h4>
    <h5>MBTI: ISFP-T </h5>




    <div class="myguest">

        <button onclick="open_book()">방명록 남기기</button>
    </div>

    <div class="mybook" id="book-box">

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">이름</label>
        </div>

        <div class="mybtns">
            <button onclick="write_book()" type="button" class="btn btn-dark">기록하기</button>
            <button onclick="close_book()" type="button" class="btn btn-outline-dark">닫기</button>
        </div>
    </div>


    <h6 style="color: gray" >email: lulilaks7@gmail.com</h6>
</div>

</body>
</html>