<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ma8Tofu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
  </head>
  <body>
    <header>
      <div class="header_wrap">
        <h1>Ma8Tofu</h1>
        <div class="status guest">Login</div>
        <ul class="status_box">
          <a href="mypage.html"><li class="status_mypage">마이페이지</li></a>
          <a href="write.html"><li class="feed_write">피드 작성</li></a>
          <a href=""><li class="logout">로그아웃</li></a>
          <a href=""><li class="my_info_edit">회원정보수정</li></a>
        </ul>
      </div>
    </header>
  </body>
</html>
