<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>write page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="/static/js/mypage.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li>접속자 : <strong>{{logininfo}}</strong> 님</li>
                    <li id="edit_id" name="edit_id" style="display: none"></li>
                </ul>
            </nav>
            <h3 class="text-muted">새 글 작성</h3>
        </div>
        <section>

                <fieldset>
                <!-- 헤더 -->
                    <legend>여긴 제목이야</legend>
                <!--제목-->
                    <div class="form-group">
                        <label class="col-md-12" for="txtTitle" >Title </label>
                        <div class="col-md-12">
                            <!--required : 공백입력시 경고-->
                             <textarea class="form-control" name="edit_title" id="edit_title" placeholder="Leave a comment here", autofocus required></textarea>
                        </div>
                    </div>
                <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-12" for="txtPost">Post</label>
                        <div class="col-md-12">
                            <textarea class="form-control" id="edit_description" name="edit_description" placeholder="내용을 입력하세요." style="height:260px;" required></textarea>
                        </div>
                    </div>
                <!-- Button -->
                    <button onclick="putFeed()">수정하기</button>
                    <button>삭제하기</button>

                    </fieldset>

        </section>
    </div>
</body>
<script>
    $(document).ready(function () {
        my_feed();
    });
        open_modify();
</script>
</html>
