<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Title</title>

    <style>
    body {
        background-color: #495057;
        background-position: center;
        background-size: auto;
    }

    .card {
        margin: 20px 30px;

    }
</style>

</head>

<script>
    // $(document).ready(function () {
    //     my_feed();
    // });
    //
    // function my_feed() {
    //     $.ajax({
    //         type: 'GET',
    //         url: '/mypage',
    //         data: {},
    //         success: function (response) {
    //             alert(response['msg'])
    //         }
    //     })
    // }
    // const cd = `
    // <div class="card mb-3" id="feed-box">
    //         <img src="${post[3]}" class="card-img-top" alt="${post[3]}">
    //         <div class="card-body">
    //             <h5 class="card-title">${post[1]}</h5>
    //             <p class="card-text">${post[2]}</p>
    //             <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    //         </div>
    //     </div>
    // `
    // axios.get('/mypage')
    //     .then(function(response) {
    //         console.log(response);
    //     })
    //     .cath(function(error){
    //         console.log(error);
    //     })
    //     .then(function(){});

    const post_tbody = document.querySelector('#posts tbody');
    let cd =``
    axios.get('/mypage')
        .then(function(response){
            console.log(response);
            response.data.map((post) => {

                cd += `
                <div class="card mb-3" id="feed-box">
                    <img src="${image}" class="card-img-top" alt="${image}">
                    <div class="card-body">
                    <h5 class="card-title">${title}</h5>
                    <p class="card-text">${feed}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            `
            })
                post_tbody.innerHTML = cd
        })
        .catch(function (error) {
            console.log(error);
        })
        .then(function(){});


</script>
<body>

<section>
    <table id="content">
        <tbody>
        <div class="card mb-3" id="feed-box">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">${title}</h5>
                <p class="card-text">${feed}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        </tbody>
    </table>
</section>
</body>
</html>