<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{logininfo}}
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <script src="/static/js/mypage.js"></script>
    <title>mypages</title>





    <style>
    body {
        background-color: #495057;
        background-position: center;
        background-size: auto;
    }

    .card {
        margin: 20px 30px;

    }
    img {
        width: 200px;
        height: 200px;
    }
</style>

</head>

<script>
    $(document).ready(function () {
        my_feed();
    });

</script>
<body>
<section id="section">

</section>
</body>
</body>
</html>