<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>register</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <form method="POST" action="/register">
				<input type="text" name="register_id" placeholder="id" required><br>
				<input type="password" name="register_pw" placeholder="password" required><br>
				<input type="text" name="register_name" placeholder="name" required><br>
				<input type="email" name="register_email" placeholder="email" required autofocus><br>
      <button type="submit">가입</button>
    </form>
</body>
</html>